[Desktop Entry]
Type=Application
Name=MDP
Comment=Music Directory Player
Exec=bash -c "cd /home/puri/player && ./launch-mdp-java.sh"
Icon=mdp.png
Terminal=false
Categories=Utility;
